<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head.ejs %>
</head>

<body>

	<% include ./partials/navbar.ejs %>

	<main class="container">
		<h2>About Us</h2>
	</main>

	<% include ./partials/baseScripts.ejs %>

</body>
</html>
